// Variables
$base-color: #ededed;
$white: white;
$black: black;
$trans: all .3s ease-in-out;
$font: 'Open Sans', sans-serif;
// Predefined Break-points
$big: 1260px;
$large: 992px;
$medium: 768px;
$small: 576px;

@mixin padding-big {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

@mixin padd-up {
  margin-top: 5px;
}

@mixin button {
  padding: 5px 30px;
  font-size: 12px;
  border: 1px solid $black;
  border-radius: 20px;
  margin-top: 10px;
  display: inline-flex;
  color: $black;
  text-decoration: none;
  transition: $trans;
}
@mixin button-hover {
  background-color: $black;
  color: $white;
}

body {
  font-family: $font;
  color: $black;
}
h1, h2, h3 {
  margin-bottom: 1rem;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  line-height: 1.6;
}

input:focus,
a:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h2 {
  font-weight: 400;
  font-size: 2.5rem;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
}

/*Navigation*/

.padd-nav {
  padding: 3vw 0px 1vw 0px;
  @media screen and (max-width: $small) {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(209,209,209,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(209,209,209,1);
    box-shadow: 0px 2px 3px 0px rgba(209,209,209,1);
  }
}
.frame-indent {
  @media screen and (max-width: $small) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.frame-indent-left {
  @media screen and (max-width: $small) {
    margin-left: auto;
    margin-right: auto;
  }
}
.navbar {
  background-color: white;
  padding: 0px
}
.padd-section {
  @include padding-big;
}
.frame-headline-copy h1,
.frame-headline-copy h2 {
  position: relative;
  font-weight: 700;
}
p {
  font-weight: 300;
}
p em {
  font-weight: 400;
  font-style: italic;
}

.frame-headline-copy h1:after,
.frame-headline-copy h2:after {
  position: absolute;
  content: "©";
  top:6px;
  padding-left: 1px;
  font-size: 1rem;
}
.text {
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-padd {
  padding-left: 0px;
  padding-right: 0px;
}
li {
  font-weight: 300;
  em, strong {
    font-weight: 400;
  }
}
span.arrow-down {
  position: relative;
}
.collapsed span.arrow-down:after {
  transform: rotate(0deg);
}
.frame-hidden-divider {
  hr {
    background-color: transparent;
    background-color: transparent;
  }
}
span.arrow-down:after {
  position: absolute;
  right: -30px;
  top: 6px;
  content: '';
  background-image: url("../../Images/arrow-down.svg");
  background-size: 20px 10px;
  background-repeat: no-repeat;
  width:20px;
  height:10px;
  transition: $trans;
  transform: rotate(180deg);
}
a .arrow-down {
  text-decoration: none;
  color: $black;
}
.text a {
  text-decoration: none;
}
b, strong {
  font-weight: 700;
}
nav {
  -webkit-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

.navbar-shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.card {
  border: 1px solid transparent;
  background-color: transparent;
}
a {
  font-weight: 300;
}
.card-body {
  padding: 1rem 0px;
  background-color: transparent;

}

.navbar-brand img {
  width: 158px;
  height: auto !important;
  margin-top: -10px;
}

nav.navbar.navbar-shadow {
  padding: 0px 0px;
}
nav.navbar.navbar-shadow .nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
nav.navbar.navbar-shadow .nav-link.nav-menu-button
{
  margin-top: 6%;
}

nav.navbar.navbar-shadow,
nav.navbar.navbar-shadow .navbar-brand img {
  -webkit-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

nav.navbar.navbar-shadow .navbar-brand img {
  width: auto;
  height: 35px;
  margin-top: 0px;
}

.navbar-nav .dropdown-menu {
  top: 100px;
  border: 1px solid transparent;
}

.navbar-shadow .navbar-nav .dropdown-menu {
  top: 68px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}


.dropdown-menu-arrow {
  top: -25px;
  left: 50%;
  width: 0;
  height: 0;
  position: relative;
}

ul.lang {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding: .3rem 0px;
}
.lang li a:first-of-type {
  padding-right: 5px;
  @media screen and (max-width: $small){
    font-size: 15px;
    padding-left: 25px;
  }
}
.lang li {
  opacity: .5;
  transition: $trans;
}
.lang li:hover {
  opacity: 1;
}
.lang li.active {
  color: black;
  opacity: 1;
}
.lang li.active a {
  color: black;
}
.lang li a {
  font-size: 12px;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 300;
  font-size: 1.1em;
  -webkit-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
  color: $black;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

li.nav-item:last-of-type a.nav-link {
  padding-right: 0;
}

.navbar-expand-lg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.navbar-light .navbar-toggler {
  color: $white;
  border-color: transparent;
}
.navbar.fixed-top.navbar-expand-lg {
  padding-right: 0 !important;
}

.navbar.fixed-top.navbar-expand-lg {
  padding-right: 0 !important;
}


/*Burger Button*/
//@link https://github.com/jonsuh/hamburgers
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $black;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 1px;
  background-color: $black;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*

/* Icon*/
.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}
.nav-link {
  display: block;
  padding: .3rem 1rem;
}
/* //Burger Button*/

.nav-menu-button {
  padding: 10px 20px !important;
  border-radius: 10px;
  margin-top: -3px;
  -webkit-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
.navbar-light .navbar-nav .nav-link .nav-menu-button:hover a{
  color: $white;
}
.navbar-light .navbar-nav .nav-link:hover a{
  color: $white;
}
.dropdown-menu {
  border-radius: 0px 0px 5px 5px;
}
.fas.fa-chevron-down {
  margin-left: 4px;
}

li.nav-item a.nav-link.nav-menu-button.ml-3:hover {
  color: $white !important;
}

.dropdown-item {
  color: $white;
}

.nav-menu-button {
  margin-top: 15%;
}
.nav-item a {
  transition: var(--trans);
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 700;
}

.image-subpage {
  width: 100%;
  height: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.image-home {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
footer {
  padding-top: 4vw;
  padding-bottom: 10vw;
  background-color: $black;
  @media screen and (max-width: $small){
    padding-top: 10vw;
  }
}
.menu-footer {
  margin-bottom: -50px;
  @media screen and (max-width: $small){
    margin-bottom: 0px;
    margin: 25px 0px;
  }
  ul {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    list-style: none;
    li {
      text-align: center;
      display: inline-block;
    }
    li a {
      line-height: 2em;
      text-align: center;
      color: white;
      font-size: 19px;
      text-transform:uppercase;
      text-decoration: none;
      padding-right: 20px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.ce-gallery img {
  display: block;
  width: 100%;
  height: auto;
}
.our-prod-home {
  @media screen and (max-width: $small){
    padding-bottom: 28px;
  }
}
.image-full-width {
  width: 100%;
  height: 34vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: $small){
    height: 75vw;
  }
}

.bck-grey {
  background-color: $base-color;
}

.editor-css {
  padding-bottom: 1.7vw;
}

.h5, h5 {
  font-size: 1rem;
  margin-bottom: .3rem;
}

footer {
  ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .padding-logo{
    padding-left: 1.5vw;
    padding-right: 3vw;
  }
  .padding-icons {
    padding-left: 3vw;
    padding-right: 1.5vw;
    @media screen and (max-width: $small){
        padding-left: 3vw;
        padding-right: 3vw;

    }
  }
  img.flex-icon {
    width: 25px;
    height: 25px;
  }
}
.padd-newsnews {
  margin-bottom: 3vw;
}

.image-news-home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16vw;
}
.container .container {
  padding-left: 0px;
  padding-right: 0px;
}
p {
  margin-bottom: .5rem;
}
.form-check-input:checked {
  background-color: $white !important;
  border-color: $black !important;
}
.form-check-input:checked[type=radio] {
  background-image: url("../../Images/Point.svg") !important;
}




@media (max-width: 1199.9px){

  .nav-menu-button {
    margin-top: 20px;
  }
  .nav-menu-button {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }
  .navbar-nav .dropdown-menu {
    background-color: transparent;
  }

  .ml-3, .mx-3 {
    margin-left: 0px !important;
  }
  .dropdown-menu .dropdown-item {
    padding-left: 0px;
  }
  .dropdown-item:first-of-type {
    margin-top: 25px;
  }
  .nav-link:first-of-type{
    margin-top:20px;
  }

  .menu {
    padding: 0px 0px;
    padding-top: 0px;
  }
  nav.navbar.navbar-shadow .nav-link {
    padding-top: 0px;
    padding-bottom: .5rem;
  }
}

@media (max-width: 991.9px) {
  .navbar-brand img {
    margin-top: 0;
  }
  .image-subpage {
    width: 100%;
    height: 45vw;
  }
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .navbar {
    padding-top: 1.5em;
  }
  .carousel-item .h1-medium h1,
  .carousel-item h1 {
    font-size: 1.7em;
  }
  .navbar {
    padding: 0;
  }

  .animated-icon2 {
    padding: 20px 15px 15px 0;
  }
  a.nav-link {
    font-size: 1.6em;
  }

  .navbar-nav li.nav-item:first-of-type {
    padding-top: 20px;
  }
  .navbar-nav li.nav-item:last-of-type {
    padding-bottom: 20px;
  }
  .container.menu {
    max-width: 100% !important;
  }
  ul.navbar-nav {
    -webkit-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
  }
  a.dropdown-item {
    padding-left: 40px;
  }
  li.nav-item a.nav-link {
    text-align: center;
    font-size: 30px !important;
  }
  .languages-cal .align-items-end {
    align-items: initial !important;
  }
  ul.lang {
    margin: auto;
    margin-bottom: 20px;
  }
  .nav-link:first-of-type {
    margin-top: 0px;
  }
}

.frame-space-after-extra-large {
  margin-bottom: 5vw !important;
}
.frame-space-before-extra-large {
  margin-top: 5vw  !important;
}

.super-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 24vw;
  margin-top: 15px;
  @media screen and (max-width: $small){
    height: 35vw;
  }
}
.super-image.three-cols {
  height: 16vw;
  margin-top: 15px;
  @media screen and (max-width: $small){
    height: 23vw;
  }
}
.images-accordion {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 10vw;
  margin-top: 15px;
  margin-bottom: 1vw;
  @media screen and (max-width: $small){
    height: 20vw;
    margin-bottom: 1.8vw;
  }
}
h1, h2, h3 {
  text-transform: uppercase;
}
.h3, h3 {
  font-size: 1.25rem;
}
.text-under-image {
  padding-top: 20px;
}
.menu-footer {
  align-self: flex-end;
}
a.link-button{
  @include button;
  &:hover {
    @include button-hover;
  }
}
.padding-std {
  @include padding-big;
}

.news-item {
  margin-bottom: 25px;
}

.frame-layout-5 {
  .ce-bodytext {
    padding: 20px 7vw 0px 7vw;
    @media screen and($medium){
      padding: 20px 14vw 0px 14vw;
    }
    @media screen and($small){
      padding: 15px 20vw 0px 20vw;
    }
    h2,h3,h1 {
      padding: 0px 5vw;
    }
  }
}

a.more {
  @include button;
  &:hover{
    @include button-hover;
  }
}
.news-backlink-wrap a{
  @include button;
  &:hover{
    @include button-hover;
  }
}
.padd-top-newsnews .button-news{
  text-align: center;
  margin-top: 1vw;
}
.padd-top-newsnews .button-news.button-newsnews{
  text-align: initial;
  margin-top: 1vw;
}
@media (max-width: 768px){
  a.nav-link {
    padding: 10px 0;
  }
  .image-subpage {
    width: 100%;
    height: 33vw;
  }
}
@media (min-width: 991px) and (max-width: 1200px){
  .menu {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 660px){
  a.nav-link {
    padding: 8px 0;
  }
}

.padd-news-detail {
  padding-top: 2.5vw;
  padding-bottom: 6vw;

}
.article h3 {
  margin-bottom: 10px;
  margin-top: 0.7vw;
}
h3 a span,
h3 a {
  color: $black;
  text-decoration: none;
  font-weight: 400;
}
h3 a:hover {
  color: $black;
  text-decoration: none;
}
div {
  font-weight: 300;
}
