<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->
<f:section name="content">
    <f:switch expression="{settings.templateLayout}">
        <f:case value="">
            <f:if condition="{news}">
                <f:then>
                    <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
                                <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
                                    <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </f:for>
                                </n:widget.paginate>
                            </f:else>
                        </f:if>
                    </div>
                </f:then>
                <f:else>
                    <div class="no-news-found">
                        <f:translate key="list_nonewsfound" />
                    </div>
                </f:else>
            </f:if>
        </f:case>
        <f:case value="homenews">
            <f:if condition="{news}">
                <f:then>
                    <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                        <div class="container">
                            <div class="row justify-content-center">
                                <f:if condition="{settings.hidePagination}">
                                    <f:then>
                                        <f:for each="{news}" as="newsItem" iteration="iterator">
                                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
                                            <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                            </f:for>
                                        </n:widget.paginate>
                                    </f:else>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <div class="no-news-found">
                        <f:translate key="list_nonewsfound" />
                    </div>
                </f:else>
            </f:if>
        </f:case>
        <f:case value="newsnews">
            <f:if condition="{news}">
                <f:then>
                    <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                        <div class="container">
                            <div class="row justify-content-center">
                                <f:if condition="{settings.hidePagination}">
                                    <f:then>
                                        <f:for each="{news}" as="newsItem" iteration="iterator">
                                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
                                            <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                            </f:for>
                                        </n:widget.paginate>
                                    </f:else>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <div class="no-news-found">
                        <f:translate key="list_nonewsfound" />
                    </div>
                </f:else>
            </f:if>
        </f:case>
        <f:defaultCase>
            <f:if condition="{news}">
            <f:then>
                <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                    <f:if condition="{settings.hidePagination}">
                        <f:then>
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                            </f:for>
                        </f:then>
                        <f:else>
                            <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
                                <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </n:widget.paginate>
                        </f:else>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if></f:defaultCase>
    </f:switch>
	<!--TYPO3SEARCH_end-->

	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
