<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
    <f:section name="Content">
        <div class="container-fluid ps-0 pe-0 whole-map">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3" id="sl_sidebar-height">
                    <div class="row">
                        <div class="col-12 form-part">
                            <div class="number-vet">
                                <span class="number-of-vets"></span> <span>Vets gefunden</span>
                            </div>
                            <input id="map-search" type="text" placeholder="Postleitzahl oder Stadt eingeben">
                            <button id="map-find" class="btn btn-success">Finden</button>
                            <span class="reset small" id="reset-this-mate">Reset</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ps-0 pe-0">
                            <div id="sl_sidebar" class="store_locator_sidebar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-9 pl-0 pr-0 padding-right-empty">
                    <div id="map" style="width:100%; height: 80vh;"></div>
                </div>
            </div>
        </div>
        <div id="outputDiv"></div>
    </f:section>
</html>
