.store_locator_map_infowindow {
	width:380px;
	overflow:hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	color: black !important;
	font-family: arial,sans-serif !important;
	line-height: normal !important;
}

/*
Current Location Display
*/
.store_locator_current_location {
	background: #eae9e9;
	padding:5px;
	margin-bottom:10px;
}

.whole-map {
	margin-bottom: 4vw;
}
/*
Sidebar Customization
*/
.store_locator_sidebar {
	border-bottom:1px solid #dcdcdc;
	margin-bottom: 5px;
}
.store_locator_sidebar_entry {
	padding:15px;
	overflow:hidden;
	background-color: white;
	border-bottom: 1px solid lightgrey;
}
.store_locator_sidebar_entry:hover {
	background: #eee;
	cursor: pointer;
}
.store_locator_sidebar_entry_distance {
	color: #2b669a;
}
.number-vet span{
	color: black;
	font-size: 12px;
}
.form-part {
	background-color: white;
	z-index: 999;
	top:0px;
	left: 0px;
	right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ededed;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(209,209,209,1);
	-moz-box-shadow: 0px 2px 3px 0px rgba(209,209,209,1);
	box-shadow: 0px 2px 3px 0px rgba(209,209,209,1);
}
#sl_sidebar {
	background-color: #ededed;
	overflow: scroll;
	min-height: 10px;
	height: 100%;
}
#sl_sidebar-height {
	height: 80vh;
}

.pl-0 {
	padding-left: 0px !important;
}
.down-pl-0 .col-md-6.col-sm-12{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.address-margin {
	margin-right: 10px;
	width: 100%;
}
input:focus {
	outline: none;
	box-shadow: none;
}

input#map-search {
	display: inline-block;
	border-radius: 20px;
	border: none;
	padding: .375rem .75rem;
	vertical-align: middle;
	margin-bottom: 10px !important;
	border: 1px solid black;
	width: initial;
	margin-bottom: 0px;
	background-color: transparent;
	font-size: 12px;
}
.number-vet {
	padding: 5px 0px 7px 0px;
}
.number-vet {
	color: white !important;
}
#map-find{
	background-color: transparent !important;
	border-radius: 20px;
	color: black;
	border-color: black !important;
	font-size: 12px;
	transition: all .3s ease-in-out;
	margin-bottom: 10px !important;
	display: inline-block;
}
#map-find:hover{
	background-color: black !important;
	border-radius: 20px;
	color: white;
}
#map-find:focus {
	box-shadow: none;
	box-shadow: none;
}
.btn-success:focus,
.btn-success:active,
.btn-success {
	color: #fff;
	background-color: cadetblue !important;
	border-color: cadetblue !important;
}
.btn-success:hover {
	background-color: #326365;
	border-color: #326365;
}

.txt-red {
	color: #e70044;
}
.padding-right-empty {
	padding-right: 0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 12px;
}
.reset.small {
	display: block;
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.reset.small:hover{
	text-decoration: underline;
	cursor: pointer;
}