<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
    <!-- Footer -->

    <footer>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-12 col-xl-10">
                    <div class="row justify-content-center justify-content-sm-start">
                        <div class="col-2 padding-logo">
                            <img src="typo3conf/ext/site_package/Resources/Public/Images/graeub-logo-white.svg" alt="Graeub Logo">
                        </div>
                        <div class="col-12 col-sm-8 menu-footer">
                            <v:content.render contentUids="{0:6}"/>
                        </div>
                        <div class="col-5 col-sm-2 justify-content-center justify-content-sm-start padding-icons d-flex align-items-end">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <a href="#"><img class="flex-icon" src="typo3conf/ext/site_package/Resources/Public/Images/linkedin.svg" alt="Linkedin Logo"></a>
                                </div>
                                <div class="col-4">
                                    <a href="#"><img class="flex-icon" src="typo3conf/ext/site_package/Resources/Public/Images/youtube.svg" alt="Youtube Logo"></a>
                                </div>
                                <div class="col-4">
                                    <a href="#"><img class="flex-icon" src="typo3conf/ext/site_package/Resources/Public/Images/instagram.svg" alt="Instagram Logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <f:if condition="{data.uid}==3">
        <f:then>
            <!--FOR MAP-->
            <script src="https://maps.googleapis.com/maps/api/js?region=ch&key=AIzaSyB4hxYolVeYFKd-tg1bjCyuPGQyGQMScmk" type="text/javascript"></script>
            <!--FOR MAP-->
        </f:then>
    </f:if>


</div>
