<div class="dce">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <f:switch expression="{field.width}">
                    <f:case value="0">
                        <f:for each="{field.image}" as="image">
                            <f:if condition="{field.backgroundimage}==1">
                                <f:then>
                                    <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                                </f:then>
                                <f:else>
                                    <div class="image-full-width" style="background-image: url('/fileadmin/{image.originalFile.identifier}')"></div>
                                </f:else>
                            </f:if>
                        </f:for>
                        <f:if condition="{field.text}">
                                <f:if condition="{field.isnews}==1">
                                    <f:then>
                                        <div class="container-fluid">
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-sm-10">
                                                    <div class="text">
                                                        <f:format.html>{field.text}</f:format.html>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div class="text">
                                            <f:format.html>{field.text}</f:format.html>
                                        </div>
                                    </f:else>
                                </f:if>
                        </f:if>
                    </f:case>
                    <f:case value="10">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-10 col-md-10">
                                <f:for each="{field.image}" as="image">
                                    <f:if condition="{field.backgroundimage}==1">
                                        <f:then>
                                            <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                                        </f:then>
                                        <f:else>
                                            <div class="image-full-width" style="background-image: url('/fileadmin/{image.originalFile.identifier}')"></div>
                                        </f:else>
                                    </f:if>
                                </f:for>
                                <f:if condition="{field.text}">
                                    <f:if condition="{field.isnews}==1">
                                        <f:then>
                                            <div class="container-fluid">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-sm-10">
                                                        <div class="text">
                                                            <f:format.html>{field.text}</f:format.html>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <div class="text">
                                                <f:format.html>{field.text}</f:format.html>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </div>
                        </div>
                    </f:case>
                    <f:case value="8">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-10 col-md-8">
                                <f:for each="{field.image}" as="image">
                                    <f:if condition="{field.backgroundimage}==1">
                                        <f:then>
                                            <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                                        </f:then>
                                        <f:else>
                                            <div class="image-full-width" style="background-image: url('/fileadmin/{image.originalFile.identifier}')"></div>
                                        </f:else>
                                    </f:if>
                                </f:for>
                                <f:if condition="{field.text}">
                                    <f:if condition="{field.isnews}==1">
                                        <f:then>
                                            <div class="container-fluid">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-sm-10">
                                                        <div class="text">
                                                            <f:format.html>{field.text}</f:format.html>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <div class="text">
                                                <f:format.html>{field.text}</f:format.html>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </div>
                        </div>
                    </f:case>
                    <f:case value="6">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-8 col-md-6 ps-0 pe-0">
                                <f:for each="{field.image}" as="image">
                                    <f:if condition="{field.backgroundimage}==1">
                                        <f:then>
                                            <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                                        </f:then>
                                        <f:else>
                                            <div class="image-full-width" style="background-image: url('/fileadmin/{image.originalFile.identifier}')"></div>
                                        </f:else>
                                    </f:if>
                                </f:for>
                                <f:if condition="{field.text}">
                                    <f:if condition="{field.isnews}==1">
                                        <f:then>
                                            <div class="container-fluid">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-sm-10">
                                                        <div class="text">
                                                            <f:format.html>{field.text}</f:format.html>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <div class="text">
                                                <f:format.html>{field.text}</f:format.html>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </div>
                        </div>
                    </f:case>
                    <f:case value="4">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-8 col-md-4">
                                <f:for each="{field.image}" as="image">
                                    <f:if condition="{field.backgroundimage}==1">
                                        <f:then>
                                            <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                                        </f:then>
                                        <f:else>
                                            <div class="image-full-width" style="background-image: url('/fileadmin/{image.originalFile.identifier}')"></div>
                                        </f:else>
                                    </f:if>
                                </f:for>
                                <f:if condition="{field.text}">
                                    <f:if condition="{field.isnews}==1">
                                        <f:then>
                                            <div class="container-fluid">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-sm-10">
                                                        <div class="text">
                                                            <f:format.html>{field.text}</f:format.html>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <div class="text">
                                                <f:format.html>{field.text}</f:format.html>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </div>
                        </div>
                    </f:case>
                    <f:defaultCase>
                        <f:for each="{field.image}" as="image">
                            <f:if condition="{field.backgroundimage}==1">
                                <f:then>
                                    <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                                </f:then>
                                <f:else>
                                    <div class="image-full-width" style="background-image: url('/fileadmin/{image.originalFile.identifier}')"></div>
                                </f:else>
                            </f:if>
                            <f:if condition="{field.text}">
                                <f:if condition="{field.isnews}==1">
                                    <f:then>
                                        <div class="container-fluid">
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-sm-10">
                                                    <div class="text">
                                                        <f:format.html>{field.text}</f:format.html>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div class="text">
                                            <f:format.html>{field.text}</f:format.html>
                                        </div>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </f:for>
                    </f:defaultCase>
                </f:switch>
            </div>
        </div>
    </div>



</div>
