<div class="dce" id="dce{dce.uid}">
    <div class="container">
        <div class="row justify-content-center">
            <f:switch expression="{field.width}">
                <f:case value="0">
                        <f:switch expression="{field.columns}">
                            <f:case value="0">
                                <f:for each="{field.section}" as="content" iteration="i">
                                    <div class="col-12 col-md-12 text">
                                        <f:for each="{content.image}" as="image">
                                            <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                            </div>
                                        </f:for>
                                        <f:if condition="{content.text}">
                                            <f:then>
                                                <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                    <f:format.html>{content.text}</f:format.html>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </div>
                                </f:for>
                            </f:case>
                            <f:case value="2">
                                <f:for each="{field.section}" as="content" iteration="i">
                                    <div class="col-12 col-sm-6 col-md-6 text">
                                        <f:for each="{content.image}" as="image">
                                            <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                            </div>
                                        </f:for>
                                        <f:if condition="{content.text}">
                                            <f:then>
                                                <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                    <f:format.html>{content.text}</f:format.html>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </div>
                                </f:for>
                            </f:case>
                            <f:case value="3">
                                <f:for each="{field.section}" as="content" iteration="i">
                                    <div class="col-12 col-sm-6 col-md-4 text">
                                        <f:for each="{content.image}" as="image">
                                            <div class="super-image three-cols" style="background-image: url('/fileadmin{image.identifier}')">
                                            </div>
                                        </f:for>
                                        <f:if condition="{content.text}">
                                            <f:then>
                                                <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                    <f:format.html>{content.text}</f:format.html>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </div>
                                </f:for>
                            </f:case>
                            <f:defaultCase>
                                <f:for each="{field.section}" as="content" iteration="i">
                                    <div class="col-12 col-md-12 text">
                                        <f:for each="{content.image}" as="image">
                                            <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                            </div>
                                        </f:for>
                                        <f:if condition="{content.text}">
                                            <f:then>
                                                <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                    <f:format.html>{content.text}</f:format.html>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </div>
                                </f:for>
                            </f:defaultCase>
                        </f:switch>
                </f:case>
                <f:case value="10">
                        <div class="col-12 col-sm-10 col-md-10 text">
                            <div class="row">
                                <f:switch expression="{field.columns}">
                                    <f:case value="0">
                                        <f:for each="{field.section}" as="content" iteration="i">
                                            <div class="col-12 col-md-12 text">
                                                <f:for each="{content.image}" as="image">
                                                    <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                    </div>
                                                </f:for>
                                                <f:if condition="{content.text}">
                                                    <f:then>
                                                        <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                            <f:format.html>{content.text}</f:format.html>
                                                        </div>
                                                    </f:then>
                                                </f:if>
                                            </div>
                                        </f:for>
                                    </f:case>
                                    <f:case value="2">
                                        <f:for each="{field.section}" as="content" iteration="i">
                                            <div class="col-12 col-sm-6 col-md-6 text">
                                                <f:for each="{content.image}" as="image">
                                                    <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                    </div>
                                                </f:for>
                                                <f:if condition="{content.text}">
                                                    <f:then>
                                                        <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                            <f:format.html>{content.text}</f:format.html>
                                                        </div>
                                                    </f:then>
                                                </f:if>
                                            </div>
                                        </f:for>
                                    </f:case>
                                    <f:case value="3">
                                        <f:for each="{field.section}" as="content" iteration="i">
                                            <div class="col-12 col-sm-6 col-md-4 text">
                                                <f:for each="{content.image}" as="image">
                                                    <div class="super-image three-cols" style="background-image: url('/fileadmin{image.identifier}')">
                                                    </div>
                                                </f:for>
                                                <f:if condition="{content.text}">
                                                    <f:then>
                                                        <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                            <f:format.html>{content.text}</f:format.html>
                                                        </div>
                                                    </f:then>
                                                </f:if>
                                            </div>
                                        </f:for>
                                    </f:case>
                                    <f:defaultCase>
                                        <f:for each="{field.section}" as="content" iteration="i">
                                            <div class="col-12 col-md-12 text">
                                                <f:for each="{content.image}" as="image">
                                                    <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                    </div>
                                                </f:for>
                                                <f:if condition="{content.text}">
                                                    <f:then>
                                                        <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                            <f:format.html>{content.text}</f:format.html>
                                                        </div>
                                                    </f:then>
                                                </f:if>
                                            </div>
                                        </f:for>
                                    </f:defaultCase>
                                </f:switch>
                            </div>
                        </div>
                </f:case>
                <f:case value="8">

                    <div class="col-12 col-sm-10 col-md-8 text">
                        <div class="row">
                            <f:switch expression="{field.columns}">
                                <f:case value="0">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-md-12 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:case value="2">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-sm-6 col-md-6 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:case value="3">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-sm-6 col-md-4 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image three-cols" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:defaultCase>
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-md-12 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:defaultCase>
                            </f:switch>
                        </div>
                    </div>

                </f:case>
                <f:case value="6">
                    <div class="col-12 col-sm-8 col-md-6 text">
                        <div class="row">
                            <f:switch expression="{field.columns}">
                                <f:case value="0">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-md-12 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:case value="2">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-sm-6 col-md-6 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:case value="3">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-sm-6 col-md-4 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image three-cols" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:defaultCase>
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-md-12 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:defaultCase>
                            </f:switch>
                        </div>
                    </div>

                </f:case>
                <f:case value="4">
                    <div class="col-12 col-sm-8 col-md-4 text">
                        <div class="row">
                            <f:switch expression="{field.columns}">
                                <f:case value="0">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-md-12 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:case value="2">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-sm-6 col-md-6 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:case value="3">
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-sm-6 col-md-4 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image three-cols" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:case>
                                <f:defaultCase>
                                    <f:for each="{field.section}" as="content" iteration="i">
                                        <div class="col-12 col-md-12 text">
                                            <f:for each="{content.image}" as="image">
                                                <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                                </div>
                                            </f:for>
                                            <f:if condition="{content.text}">
                                                <f:then>
                                                    <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                        <f:format.html>{content.text}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                        </div>
                                    </f:for>
                                </f:defaultCase>
                            </f:switch>
                        </div>
                    </div>

                </f:case>
                <f:defaultCase>
                    <f:switch expression="{field.columns}">
                        <f:case value="0">
                            <f:for each="{field.section}" as="content" iteration="i">
                                <div class="col-12 col-md-12 text">
                                    <f:for each="{content.image}" as="image">
                                        <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                        </div>
                                    </f:for>
                                    <f:if condition="{content.text}">
                                        <f:then>
                                            <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                <f:format.html>{content.text}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                </div>
                            </f:for>
                        </f:case>
                        <f:case value="2">
                            <f:for each="{field.section}" as="content" iteration="i">
                                <div class="col-12 col-sm-6 col-md-6 text">
                                    <f:for each="{content.image}" as="image">
                                        <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                        </div>
                                    </f:for>
                                    <f:if condition="{content.text}">
                                        <f:then>
                                            <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                <f:format.html>{content.text}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                </div>
                            </f:for>
                        </f:case>
                        <f:case value="3">
                            <f:for each="{field.section}" as="content" iteration="i">
                                <div class="col-12 col-sm-6 col-md-4 text">
                                    <f:for each="{content.image}" as="image">
                                        <div class="super-image three-cols" style="background-image: url('/fileadmin{image.identifier}')">
                                        </div>
                                    </f:for>
                                    <f:if condition="{content.text}">
                                        <f:then>
                                            <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                <f:format.html>{content.text}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                </div>
                            </f:for>
                        </f:case>
                        <f:defaultCase>
                            <f:for each="{field.section}" as="content" iteration="i">
                                <div class="col-12 col-md-12 text">
                                    <f:for each="{content.image}" as="image">
                                        <div class="super-image" style="background-image: url('/fileadmin{image.identifier}')">
                                        </div>
                                    </f:for>
                                    <f:if condition="{content.text}">
                                        <f:then>
                                            <div class="{f:if(condition: '{field.distance}==1', then: '', else: 'text-under-image')}">
                                                <f:format.html>{content.text}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                </div>
                            </f:for>
                        </f:defaultCase>
                    </f:switch>
                </f:defaultCase>
            </f:switch>
        </div>
    </div>
</div>
