<f:debug>{data}</f:debug>
<div class="dce news-item" id="dce{dce.uid}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <f:for each="{field.image}" as="image">
                        <img class="w-100" src="/fileadmin/{image.originalFile.identifier}" alt="{image.originalFile.alternativetext}">
                 </f:for>
                <f:if condition="{field.text}">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-10">
                                <div class="text">
                                    <f:format.html>{field.text}</f:format.html>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</div>
