
<div class="dce {field.background} {f:if(condition: '{field.background}', then:'padd-section')}" id="dce{dce.uid}">
    <div class="container ">
        <div class="row justify-content-center">

            <f:switch expression="{field.width}">
                <f:case value="0">
                    <f:if condition="{field.textaccordion -> f:count()} == 1">
                        <f:then>
                            <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                <div class="col-12 col-md-12 text">
                                    <f:if condition="{field.editor}">
                                        <f:then>
                                            <div class="editor-css">
                                                <f:format.html>{field.editor}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                    <f:format.html>{accordion.text}</f:format.html>
                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                        <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                    </a>
                                    <div class="collapse" id="collapseSpecific{i.cycle}">
                                        <div class="card card-body">
                                            <f:if condition="{accordion.imageopen}">
                                                <div class="container-fluid ps-0 pe-0">
                                                    <div class="row">
                                                        <f:then>
                                                            <f:for each="{accordion.imageopen}" as="open">
                                                                <div class="col-12 col-sm-4 col-md-4">
                                                                    <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                    </div>
                                                                </div>
                                                            </f:for>
                                                        </f:then>
                                                    </div>
                                                </div>
                                            </f:if>
                                            <f:format.html>{accordion.textopen}</f:format.html>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                <div class="col-12 col-md-6 text">
                                    <f:if condition="{field.editor}">
                                        <f:then>
                                            <div class="editor-css">
                                                <f:format.html>{field.editor}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                    <f:format.html>{accordion.text}</f:format.html>
                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                        <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                    </a>
                                    <div class="collapse" id="collapseSpecific{i.cycle}">
                                        <div class="card card-body">
                                            <f:if condition="{accordion.imageopen}">
                                                <div class="container-fluid ps-0 pe-0">
                                                    <div class="row">
                                                        <f:then>
                                                            <f:for each="{accordion.imageopen}" as="open">
                                                                <div class="col-12 col-sm-4 col-md-4">
                                                                    <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                    </div>
                                                                </div>
                                                            </f:for>
                                                        </f:then>
                                                    </div>
                                                </div>
                                            </f:if>
                                            <f:format.html>{accordion.textopen}</f:format.html>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </f:else>
                    </f:if>
                </f:case>
                <f:case value="10">
                    <f:if condition="{field.textaccordion -> f:count()} == 1">
                        <f:then>
                            <div class="col-12 col-sm-10 col-md-10 text">
                                <div class="row">

                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="col-12 col-sm-10 col-md-10 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12 col-md-6">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:else>
                    </f:if>
                </f:case>
                <f:case value="8">
                    <f:if condition="{field.textaccordion -> f:count()} == 1">
                        <f:then>
                            <div class="col-12 col-sm-10 col-md-8 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="col-12 col-sm-10 col-md-8 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12 col-md-6">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:else>
                    </f:if>
                </f:case>
                <f:case value="6">
                    <f:if condition="{field.textaccordion -> f:count()} == 1">
                        <f:then>
                            <div class="col-12 col-sm-8 col-md-6 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12 col-md-12">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="col-12 col-sm-8 col-md-6 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12 col-md-6">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:else>
                    </f:if>

                </f:case>
                <f:case value="4">
                    <f:if condition="{field.textaccordion -> f:count()} == 1">
                        <f:then>
                            <div class="col-12 col-sm-8 col-md-4 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12 col-md-12">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="col-12 col-sm-8 col-md-4 text">
                                <div class="row">
                                    <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                        <div class="col-12 col-md-6">
                                            <f:if condition="{field.editor}">
                                                <f:then>
                                                    <div class="editor-css">
                                                        <f:format.html>{field.editor}</f:format.html>
                                                    </div>
                                                </f:then>
                                            </f:if>
                                            <f:format.html>{accordion.text}</f:format.html>
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                                <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                            </a>
                                            <div class="collapse" id="collapseSpecific{i.cycle}">
                                                <div class="card card-body">
                                                    <f:if condition="{accordion.imageopen}">
                                                        <div class="container-fluid ps-0 pe-0">
                                                            <div class="row">
                                                                <f:then>
                                                                    <f:for each="{accordion.imageopen}" as="open">
                                                                        <div class="col-12 col-sm-4 col-md-4">
                                                                            <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                            </div>
                                                                        </div>
                                                                    </f:for>
                                                                </f:then>
                                                            </div>
                                                        </div>
                                                    </f:if>
                                                    <f:format.html>{accordion.textopen}</f:format.html>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:else>
                    </f:if>
                </f:case>
                <f:defaultCase>
                    <f:if condition="{field.textaccordion -> f:count()} == 1">
                        <f:then>
                            <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                <div class="col-12 col-md-12 text">
                                    <f:if condition="{field.editor}">
                                        <f:then>
                                            <div class="editor-css">
                                                <f:format.html>{field.editor}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                    <f:format.html>{accordion.text}</f:format.html>
                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                        <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                    </a>
                                    <div class="collapse" id="collapseSpecific{i.cycle}">
                                        <div class="card card-body">
                                            <f:if condition="{accordion.imageopen}">
                                                <div class="container-fluid ps-0 pe-0">
                                                    <div class="row">
                                                        <f:then>
                                                            <f:for each="{accordion.imageopen}" as="open">
                                                                <div class="col-12 col-sm-4 col-md-4">
                                                                    <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                    </div>
                                                                </div>
                                                            </f:for>
                                                        </f:then>
                                                    </div>
                                                </div>
                                            </f:if>
                                            <f:format.html>{accordion.textopen}</f:format.html>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </f:then>
                        <f:then>
                            <f:for each="{field.textaccordion}" as="accordion" iteration="i">
                                <div class="col-12 col-md-6 text">
                                    <f:if condition="{field.editor}">
                                        <f:then>
                                            <div class="editor-css">
                                                <f:format.html>{field.editor}</f:format.html>
                                            </div>
                                        </f:then>
                                    </f:if>
                                    <f:format.html>{accordion.text}</f:format.html>
                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapseSpecific{i.cycle}" role="button" aria-expanded="false" aria-controls="collapseExample{i.cycle}">
                                        <span class="arrow-down">{f:translate(extensionName: 'site_package', key: 'mehr', default: 'Mehr')}</span>
                                    </a>
                                    <div class="collapse" id="collapseSpecific{i.cycle}">
                                        <div class="card card-body">
                                            <f:if condition="{accordion.imageopen}">
                                                <div class="container-fluid ps-0 pe-0">
                                                    <div class="row">
                                                        <f:then>
                                                            <f:for each="{accordion.imageopen}" as="open">
                                                                <div class="col-12 col-sm-4 col-md-4">
                                                                    <div class="images-accordion" style="background-image: url('/fileadmin/{open.identifier}')">
                                                                    </div>
                                                                </div>
                                                            </f:for>
                                                        </f:then>
                                                    </div>
                                                </div>
                                            </f:if>
                                            <f:format.html>{accordion.textopen}</f:format.html>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </f:then>
                    </f:if>
                </f:defaultCase>
            </f:switch>

        </div>
    </div>
</div>
