/*For products*/
/*Inkl Bootstrap 5*/
h5.margin-products {
    font-weight: 700;
}
.margin-products {
    margin-top: 25px;
    margin-bottom: 10px;
}
.margin-products:first-of-type {
    margin-top: 0px;
}
.form-check-input:active,
.form-check-input:focus {
    box-shadow: none;
}
.titel-product {
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 0px !important;
}
.link-product a,
.link-product a:hover,
.link-product p,
.link-product p:hover,
.link-product h1,
.link-product h1:hover,
.link-product h2,
.link-product h2:hover,
.link-product h3,
.link-product h3:hover,
.link-product h4,
.link-product h4:hover,
.link-product h5,
.link-product h5:hover {
    color: black;
    text-decoration: none;
}
.sticky-top {
    position: sticky;
    padding-top: 25px;
    position: -webkit-sticky;
    top: 10px;
}
#give-me-all {
    padding-top: 25px;
}
.height-filter {
    min-height: 600px;
}
.padd-products {
    padding-top: 2vw;
    padding-bottom: 5vw;
}
li::marker {
    font-size: 1em;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .height-filter {
        min-height: initial;
        margin-bottom: 20px;
    }
}
.link-product