<f:layout name="Default" />

<f:section name="Main">

    <f:if condition="{files}">
        <f:then>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 ps-0 pe-0">
                        <f:for each="{files}" as="file">
                            <f:if condition="{data.uid}==1">
                                <f:then>
                                    <img class="w-100" src="/fileadmin{file.originalFile.identifier}" alt="{file.alternative}">
                                </f:then>
                                <f:else>
                                    <div class="image-subpage" style="background-image: url(/fileadmin{file.originalFile.identifier})">
                                    </div>
                                </f:else>
                            </f:if>
                        </f:for>
                    </div>
                </div>
            </div>
        </f:then>
    </f:if>

    <f:if condition="{data.uid}==3">
        <f:then>
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
        </f:then>
        <f:else>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 ps-0 pe-0">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>

</f:section>
