<f:layout name="Default" />

<f:section name="Main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ps-0 pe-0">
                <f:for each="{files}" as="file">
                    <f:if condition="{data.uid}==1">
                        <f:then>
                            <img class="w-100" src="/fileadmin{file.originalFile.identifier}" alt="{file.alternative}">
                        </f:then>
                        <f:else>
                            <div class="image-subpage" style="background-image: url(/fileadmin{file.originalFile.identifier})">
                            </div>
                        </f:else>
                    </f:if>
                </f:for>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>
        </div>
    </div>
    <div class="container-fluid bck-grey padding-std">
        <div class="row justify-content-center">
            <div class="col-12">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
            </div>
            <div class="col-12">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
            </div>
        </div>
    </div>
    <div class="container padding-std">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-10">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />
            </div>
            <div class="col-12 col-sm-6 col-md-5 our-prod-home">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '6'}" />
            </div>
            <div class="col-12 col-sm-6 col-md-5 our-prod-home">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '7'}" />
            </div>
        </div>
    </div>
</f:section>
