<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 col-sm-7">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>
            <div class="col-12 col-sm-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
            </div>
        </div>
    </div>

</f:section>
