<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12 col-xl-10 padd-nav">
            <nav class="navbar navbar-expand-lg navbar-light nav-down d-flex align-items-end">
                <f:link.page class="navbar-brand" pageUid="1">
                    <img alt="Graeub | Specific" src="/typo3conf/ext/site_package/Resources/Public/Images/specific-logo.svg" class="navbar-brand"></a>
                </f:link.page>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger hamburger--spring">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <f:cObject typoscriptObjectPath="lib.mainNavigation" />
                    <div class="d-flex flex-right d-flex align-items-end languages-cal">
                        <f:cObject typoscriptObjectPath="lib.lang" />
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
