<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="container-fluid padd-products">
    <div class="row">
        <div class="col-12 pl-0 pr-0">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 height-filter">
                    <div class="sticky-top">
                        <form data-ajax-url="{f:uri.action(action: 'search', pluginName: 'Pi2', absolute: 1, pageType: 125)}" id="{settings.category}">
                            <f:groupedFor each="{categories}" as="groupedCategories" groupBy="parent">

                                <f:for each="{groupedCategories}" as="category" iteration="i">
                                    <f:if condition="{settings.category}=='cat'">
                                        <f:if condition="{category.title}=='Cat' || {category.parent.title}=='Cat' || {category.parent.parent.title}=='Cat'">
                                            <f:if condition="{category.parent}=='' || {category.parent.title}=='Cat'">
                                                <f:then>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{category.parent}">
                                                        <f:if condition="{i.isFirst}">
                                                            <h5 class="text-uppercase margin-products">{category.parent.title}</h5>
                                                            <div class="form-check">
                                                                <f:form.radio class="form-check-input" name="tx_product_pi2[flexRadioDefault][{category.parent.uid}]" id="flexRadioDefault[{category.parent.uid}]"
                                                                              value="-1"
                                                                              checked="1" />
                                                                <label class="form-check-label" for="flexRadioDefault[{category.parent.uid}]">
                                                                    Alle
                                                                </label>
                                                            </div>
                                                        </f:if>
                                                        <div class="form-check">
                                                            <f:form.radio class="form-check-input" name="tx_product_pi2[flexRadioDefault][{category.parent.uid}]" value="{category.uid}" id="flexRadioDefault[{category.uid}]"/>
                                                            <f:comment>
                                                                <label class="form-check-label" for="flexRadioDefault[{category.parent.uid}]" />
                                                            </f:comment>
                                                            <label class="form-check-label" for="flexRadioDefault[{category.uid}]">
                                                                {category.title}
                                                            </label>
                                                        </div>
                                                    </f:if>
                                                </f:else>
                                            </f:if>
                                        </f:if>
                                    </f:if>
                                    <f:if condition="{settings.category}=='dog'">
                                        <f:if condition="{category.title}=='Dog' || {category.parent.title}=='Dog' || {category.parent.parent.title}=='Dog'">
                                            <f:if condition="{category.parent}=='' || {category.parent.title}=='Dog'">
                                                <f:then>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{category.parent}">
                                                        <f:if condition="{i.isFirst}">
                                                            <h5 class="text-uppercase margin-products">{category.parent.title}</h5>
                                                            <div class="form-check">
                                                                <f:form.radio class="form-check-input" name="tx_product_pi2[flexRadioDefault][{category.parent.uid}]" id="flexRadioDefault[{category.parent.uid}]"
                                                                              value="-1"
                                                                              checked="1" />
                                                                <label class="form-check-label" for="flexRadioDefault[{category.parent.uid}]">
                                                                    Alle
                                                                </label>
                                                            </div>
                                                        </f:if>
                                                        <div class="form-check">
                                                            <f:form.radio class="form-check-input" name="tx_product_pi2[flexRadioDefault][{category.parent.uid}]" value="{category.uid}" id="flexRadioDefault[{category.uid}]"/>
                                                            <f:comment>
                                                                <label class="form-check-label" for="flexRadioDefault[{category.parent.uid}]" />
                                                            </f:comment>
                                                            <label class="form-check-label" for="flexRadioDefault[{category.uid}]">
                                                                {category.title}
                                                            </label>
                                                        </div>
                                                    </f:if>
                                                </f:else>
                                            </f:if>
                                        </f:if>
                                    </f:if>


                                </f:for>
                            </f:groupedFor>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-9 col-lg-10" id="give-me-all">
                    <div class="row">

                        <f:for each="{items}" as="item" iteration="i">
                            <f:if condition="{settings.category}=='cat' && {item.pid}==4">
                                <f:if condition="{item.pid}==4">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 link-product">
                                        <f:link.typolink parameter="{item.url}">
                                            <f:image class="w-100 h-auto" image="{item.image}" />
                                            <f:format.html><h4 class="titel-product">{item.name} {item.additional}</h4></f:format.html>
                                            <div class="description">
                                                <f:format.html>{item.description}</f:format.html>
                                                {category.title}
                                            </div>
                                        </f:link.typolink>
                                    </div>
                                </f:if>
                            </f:if>

                            <f:if condition="{settings.category}=='dog'">
                                <f:if condition="{item.pid}==17">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 link-product">
                                        <f:link.typolink parameter="{item.url}">
                                            <f:image class="w-100 h-auto" image="{item.image}" />
                                            <f:format.html><h4 class="titel-product">{item.name} {item.additional}</h4></f:format.html>
                                            <div class="description">
                                                <f:format.html>{item.description}</f:format.html>
                                                {category.title}
                                            </div>
                                        </f:link.typolink>
                                    </div>
                                </f:if>
                            </f:if>
                        </f:for>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>