<div id="cat">
    <div class="row">
        <f:for each="{searched}" as="item" iteration="i">
            <f:if condition="{item.pid}==4">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 link-product">
                    <f:link.typolink parameter="{item.url}">
                        <f:image class="w-100 h-auto" image="{item.image}" />
                        <f:format.html><h4 class="titel-product">{item.name} {item.additional}</h4></f:format.html>
                        <div class="description">
                            <f:format.html>{item.description}</f:format.html>
                            {category.title}
                        </div>
                    </f:link.typolink>
                </div>
            </f:if>
        </f:for>
    </div>
</div>

<div id="dog">
    <div class="row">
        <f:for each="{searched}" as="item" iteration="i">
            <f:if condition="{item.pid}==17">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 link-product">
                    <f:link.typolink parameter="{item.url}">
                        <f:image class="w-100 h-auto" image="{item.image}" />
                        <f:format.html><h4 class="titel-product">{item.name} {item.additional}</h4></f:format.html>
                        <div class="description">
                            <f:format.html>{item.description}</f:format.html>
                            {category.title}
                        </div>
                    </f:link.typolink>
                </div>
            </f:if>
        </f:for>
    </div>
</div>
